@font-face {
    font-family: 'MonumentExtendedUltrabold';
    src: url('../fonts/MonumentExtended-Ultrabold.woff2') format('woff2'),
         url('../fonts/MonumentExtended-Ultrabold.woff') format('woff');
    font-weight:  900;
    font-style:   normal;
    font-stretch: normal;
}

@font-face {
    font-family: 'MonumentExtendedBold';
    src: url('../fonts/Monument-Extended-Bold.woff2') format('woff2'),
         url('../fonts/Monument-Extended-Bold.woff') format('woff');
    font-weight:  900;
    font-style:   normal;
    font-stretch: normal;
}

@font-face {
    font-family: 'MonumentExtendedRegular';
    src: url('../fonts/Monument-Extended-Regular.woff2') format('woff2'),
         url('../fonts/Monument-Extended-Regular.woff') format('woff');
    font-weight:  400;
    font-style:   normal;
    font-stretch: normal;
}

.body {
  font-family: 'Satoshi', sans-serif;
  font-weight: 300;
  font-optical-sizing: auto;
  font-style: normal;
  -background-color: #0B0446 !important; /* For browsers that do not support gradients */
  -background-image: linear-gradient(to bottom right, #0B0446, #05002D) !important;
  --bs-body-bg: red !important;
    background-color: red;
}

p {
    color: #0B0446 !important;
    font-family: 'Satoshi', sans-serif;
}

.features {
    p {
        color: #FFF !important;
        font-weight: 200;
        font-size: 1.1rem;
    }
    span {
         color: #00FF04;
    }
    .tile {
        background-color: #00FF04;
        text-align: center;
        p {
            color: #02021C !important;
            font-size: 18px !important;
            line-height: 22px !important;
            padding-top: 5px;
            padding-bottom: 6px;
        }
    }
}

.brand-font-bold {
  font-family: 'MonumentExtendedUltrabold', sans-serif !important;
  font-weight: 900 !important;
}

.brand-font-regular {
  font-family: 'MonumentExtendedRegular', sans-serif !important;
  font-weight: 400 !important;
}

.navbar {
    --bs-navbar-toggler-icon-bg: none !important;
}

.b2b-tile {
    background-color: #F3F2F6;
}

.b2b-subhead {
    font-size: 60px;
    line-height: 47px;
}

.b2b-img-block {
    background: none;
    border: none;
}

#dark-grad {
  background-color: #050032; /* For browsers that do not support gradients */
  background-image: linear-gradient(to bottom right, #041D6C, #05002D);
}

#light-grad {
  background-color: #352EC0; /* For browsers that do not support gradients */
  background-image: linear-gradient(to bottom right, #352EC0, #171279);
}

.pinstripe {
    background-image: url(../images/pinstripe.svg) !important;
    background-repeat: repeat !important;
}

.text-white {
    color: #FFFFFF !important;
}

.bg-navy {
    background-color: #050032;
    background-image: url('../images/rad-grad.png')!important;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
}

.bg-navy15 {
    background-color: #302a62 !important;
}

.bespoke {
    background-image: url('../images/bespoke-mobile.png')!important;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
}

.meta-tag {
    color: #FFFFFF;
    -background-color: #1F1A49;
    background-color: rgba(5, 0, 50, 0.5);
    width: auto;
    padding: 6px 16px 6px 10px;
    border-radius: 100px;
    font-size: 16px;
    font-weight: 200;
    margin: 0 8px 0 0;
}

.meta-tag-small {
    color: #FFFFFF;
    background-color: rgba(255, 255, 255, 0.1);
    width: auto;
    padding: 6px 16px 6px 10px;
    border-radius: 100px;
    font-size: 13px;
    font-weight: 200;
    margin: 0 8px 0 0;
}

.b2b-contact-button {
    -border: 1px solid #0B0446;
    color: #0B0446 !important;
    font-size: 14px;
    background-color: #00FF04 !important;
}

.contact-top{
    a:hover {
        background-color: #01E60B;
    }
}

.contact-bottom{
    a:hover {
        opacity: .8;
    }
}

.rounded-50 {
    border-radius: 50px;
}

.rounded-top-50 {
    border-radius: 50px 50px 0px 0px;
}

.rounded-btm-20 {
    border-radius: 0px 0px 20px 20px;
}

.small-subhead {
    font-size: 14px;
}

.intro {
    font-size: 24px;
    line-height: 36px;
    font-weight: 300;
}

.text-shadow{
    /* offset-x | offset-y | blur-radius | color */
    text-shadow: 0px 0px 30px black;
}

.footer, .push {
    height: 0px !important;
}


/* RESPONSIVE STATES */    
    
/* XS */    
@media (max-width: 575.98px) {
    .display-1 {
        font-size: 36px !important;
        line-height: 36px !important;
        font-weight: 900;
    }
    .pullout {
        font-size: 16px !important;
        line-height: 28px !important;
    }
    .b2b-subhead {
        font-size: 30px !important;
        line-height: 26px !important;
    }
    .intro {
        font-size: 18px !important;
        line-height: 26px !important;
    }
    .customised {
        height:auto;
        background-image: none;
    }
}
    
/* SM */    
@media (min-width: 576px) {
    .display-1 {
        font-size: 50px !important;
        line-height: 48px !important;
    }
    .b2b-subhead {
        font-size: 45px !important;
        line-height: 36px !important;
    }
    .intro {
        font-size: 20px !important;
        line-height: 32px !important;
    }
    .customised {
        height:auto;
        background-image: none;
    }
    .pullout {
        font-size: 22px !important;
        line-height: 34px !important;
    }
    .features {
        p {
            font-size: 20px !important;
            line-height: 30px !important;
            margin-bottom: 0px;
        }
        h3 {
            font-size: 30px !important;
            line-height: 34px !important;
        }
    }
}
    
/* MD */    
@media (min-width: 767.98px) {
    .display-1 {
        font-size: 60px !important;
        line-height: 54px !important;
    }
    .b2b-subhead {
        font-size: 45px !important;
        line-height: 36px !important;
    }
    .intro {
        font-size: 22px !important;
        line-height: 36px !important;
    }
    .customised {
        height:300px;
        background-image: url(../images/b2b/customised-bg.png);
    }
    .features {
        p {
            font-size: 20px !important;
            line-height: 30px !important;
        }
        h3 {
            font-size: 24px !important;
            line-height: 30px !important;
        }
    }
    .bespoke {
        background-image: url('../images/bespoke.png')!important;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: bottom;
    }
}
    
/* LG */    
@media (min-width: 991.98px) {
    .display-1 {
        font-size: 90px !important;
        line-height: 78px !important;
    }
    .b2b-subhead {
        font-size: 60px !important;
        line-height: 47px !important;
    }
    .intro {
        font-size: 24px !important;
        line-height: 36px !important;
    }
    .pullout {
        font-size: 30px !important;
        line-height: 50px !important;
    }
    .features {
        h3 {
            font-size: 30px !important;
            line-height: 38px !important;
        }
    }
}
    
/* XL */    
@media (min-width: 1199.98px) {
    .display-1 {
        font-size: 100px !important;
        line-height: 88px !important;
    }
}
    
/* XXL */    
@media (min-width: 1400px) {
    
}